%div(style="width: 70%; margin-left: 15%; margin-top: 5%")
  %h1
    - if @b
      %p= @b.name + ', '
    %p= @message
    %br
    %p Please press scan button above to continue...
    %br
    %p Thank you.