.DS_Store
.bundle
db/*.sqlite3
db/*.sqlite3-journal
log/*.log
tmp/
.sass-cache/
rerun.txt
public/system
Gemfile.lock
*.swp
.env
vendor/ruby
vendor/bundle
bin
.project
.idea/
_info
.env
config/database.yml
config/initializers/abstract_mysql2_adapter.rb
