- purge :category_nav
.dh-wrapper
  .inner-container.checkout-page
    .layout.main-sidebar
      .main
        %h1 Payment Info Confirmation
        %p
          Failed to update payment information for your credit card: 
          /=@result.credit_card.masked_number
        %p
          You will be redirected to Checkout page in 5 seconds
        = render :partial => 'form_edit_payment'

:javascript

  window.setTimeout(function() {
    window.location = "/checkout";
  }, 5000);


