.central_handler_consumer_view table
{
	//margin:15px 0px 0 15px;
	width:710px;	
}

.central_handler_consumer_view table u
{
	color:#007236;
}

.table_header tr
{
	text-align:left;
	padding:15px 0 0 0;

}
.central_handler_consumer_view td
{
	font-family: "Droid Sans";
	font-size:11pt;
	color:#000;
	
}
.align_center
{
	text-align:center;
}
.table_header td
{
	font-weight:bold;
	font-size: 12pt;
	height:20px;
}
.price
{
	width:90px;
	text-align:center;
}
.white
{
	background:#fff;	
}
.grey
{
	background:#ebebeb;	
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
}
.business_transactions {
	list-style: circle;
	font-size: 14px;
}
.business_transactions_item {
	margin-bottom: 7px;
}