%li
  - coupon = shopping_cart_mini_item.item
  .item-thumb
    %a{href: view_coupon_path(coupon.code)}
      %img{:src => coupon.thumb, :class => 'product_img'}
  .item-desc
    %p
      = link_to coupon.subject, view_coupon_path(coupon.code)
      %br/
      / $40 or more
      / %br/
      %small
        = coupon.business.name
  .item-sum
    %p.text-right
      = number_to_currency(shopping_cart_mini_item.price)
      %small Qty: #{shopping_cart_mini_item.quantity}
