%tr
  %td{style: "padding:20px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"} Welcome to dollarhood!
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"} We’re so excited to have you as part of our neighborhood! Now that you’re officially moved in, you can start taking advantage of our exclusive local and online offers.
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"}
      Start tracking your favorite businesses by browsing our
      = succeed "." do
        %a{href: consumers_offers_url, style: "color:#62a343;"} offer board
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"} Dollarhood is on the go! Use our mobile site and bring the neighborhood with you.
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"} Don’t forget to check your inbox! Receive email alerts from the businesses and categories you care about.
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"}
      We want you to feel right at home and are always here if you need an extra hand! Simply email
      %a{href: "mailto:customer@dollarhood.com", style: "color:#62a343;"} customer@dollarhood.com
      and one of our team members will be in touch!