%tr
  %td{style: "padding:20px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"} Congratulations on joining; you’re now officially part of the dollarhood community!  You can start taking advantage of this free marketing opportunity by creating offers now!
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"} Dollarhood provides you full control over the messages for your business. Post offers based on your business needs and expectations!
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"}
      Your dollarhood portal gives you exclusive access to all offers! While you’re there, take a peek at our
      %a{href: "", style: "color:#62a343;"} Business Resource Page
      for more information about the links and functions available.  Go to the
      %a{href: "", style: "color:#62a343;"} dashboard
      section to see your personal business registration link.
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"} Dollarhood is dedicated to making your business a success. Mark us as a favorite in your email and keep an eye out for future communications from dollarhood! You’ll get exclusive dollarhood announcements, tips, and more!
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"} We’re so happy to have you on board and look forward to watching your offers fly off the shelves!
