#coupon
  #logo
    We're Sorry.
  .heading
    Could not find a coupon code matching
    %code= params[:code]

  #promo
  %p.coupon-content
    We could not find the coupon with the code you specified.
    It might have been already redeemed.
