<div class="sidebar">
<div class="widget widget_text" id="text-7">			<div class="textwidget"><a href="http://wiseowlweb.com/chinoki/wp-content/uploads/2012/11/Chiblogki.jpg"><img class="alignleft size-full wp-image-338" title="Chiblogki" src="http://wiseowlweb.com/chinoki/wp-content/uploads/2012/11/Chiblogki.jpg" alt="" width="109" height="30"></a></div>
		</div><div class="widget widget_feacpost_featuredcategorypostswidget" id="feacpost_featuredcategorypostswidget-2"><div><h3 style="clear:none;"><a style="text-decoration:none;" href="http://wiseowlweb.com/chinoki/the-all-new-chinoki/">The ALL-NEW Chinoki</a></h3><p></p>
 				</div>
 				<div style="clear:both;"></div><div><h3 style="clear:none;"><a style="text-decoration:none;" href="http://wiseowlweb.com/chinoki/featured-business-valley-forge-casino/">Featured Business: Valley Forge Casino</a></h3><p></p>
 				</div>
 				<div style="clear:both;"></div><div><h3 style="clear:none;"><a style="text-decoration:none;" href="http://wiseowlweb.com/chinoki/chinoki-relaunch-1/">Chinoki Relaunch</a></h3><p></p>
 				</div>
 				<div style="clear:both;"></div><div><h3 style="clear:none;"><a style="text-decoration:none;" href="http://wiseowlweb.com/chinoki/featured-business-matts-laundry/">Featured Business: Matt’s Laundry</a></h3><p></p>
 				</div>
 				<div style="clear:both;"></div><div><h3 style="clear:none;"><a style="text-decoration:none;" href="http://wiseowlweb.com/chinoki/merchant-spotlight-primohoagies/">Merchant Spotlight: PrimoHoagies</a></h3><p></p>
 				</div>
 				<div style="clear:both;"></div><div><h3 style="clear:none;"><a style="text-decoration:none;" href="http://wiseowlweb.com/chinoki/merchant-spotlight-nicole-miller/">Merchant Spotlight: Nicole Miller</a></h3><p></p>
 				</div>
 				<div style="clear:both;"></div><ul></ul></div>		</div>