%li.business__item
      .business__item__name
            = business_list.name
      %textarea.business__item__iframe
            = render partial: "iframe_business_tmp", locals: {id: business_list.id}