              %a.dropdown-btn{href: ""}
                %i.icon-cart.m--t4
                  %small.notifier 2
              .dropdown-list.cart-list.clearfix
                %ul
                  %li
                    .item-thumb
                      %a{href: ""}
                        %img{alt: "item", src: "images/items/item.jpg"}/
                    .item-desc
                      %p
                        $20 off when you spend
                        %br/
                        $40 or more
                        %br/
                        %small Las Cazuelas Restaurant
                    .item-sum
                      %p.text-right
                        $1
                        %small Qty: 1
                  %li
                    .item-thumb
                      %a{href: ""}
                        %img{alt: "item", src: "images/items/item.jpg"}/
                    .item-desc
                      %p
                        $20 off when you spend
                        %br/
                        $40 or more
                        %br/
                        %small Las Cazuelas Restaurant
                    .item-sum
                      %p.text-right
                        $1
                        %small Qty: 1
                .clear
                .text-center
                  %h4 Subtotal: $2.00
                  %a.btn.btn-primary.text-uc{href: shopping_cart_path} View cart