.marketing
  %h1 Frequently Asked Questions

  %h2 What do I do when I am at a store or restaurant?
  %p When you are in a store or restaurant, show your phone to the cashier. There will be a promotional code in the body of the message that the cashier will use to enter your appropriate discount. The store or restaurant will provide the promotional code.
  %h2 Will my personal information be shared or sold?
  %p Your personal information will not be sold to any company. Users of the service are in control of their account by opting in or opting out of a particular advertiser. Once a user opts in to the service we will share information only in an aggregate fashion as outlined in the Privacy Policy. Exceptions to the aggregate data sharing policy are also explained in the Privacy Policy.
  %h2 How do I OPT IN OR OUT of a store or product?
  %p A user can opt in or opt out at any time by checking the box to either add or remove the check mark in the appropriate box.
  %h2 Can I get messages via email?
  %p Users will  be able to receive messages via email.
  %h2 Will I get spam?
  %p You will not receive spam text messages. Users of this site will only hear from the stores or products they opted in to hear from. A user can opt in or opt out at any time from a store or product by checking the appropriate box.
  %h2 How long are sales good for?
  %p Dollarhood does not provide the promotions. The store or restaurant will determine how long a promotion will be good for.
  %h2 What do I do if I want to change my email address, cell phone number or password?
  %p We have provided a link titled 'Profile'. A user can make changes to their email address, cell phone number and password at any time. If a user changes their cellular carrier or phone number, they will have to complete the authentication process to verify that the new carrier or cell phone number is theirs.
  %h2 What do I do if I forget my password?
  %p On the top right hand corner of the Home page we have provided a link that will enable a user to reset their password. We will provide a temporary password and direct the user to create a new password.
  %h2 How old do I have to be to use the website?
  %p Users of this site must be 13 years of age or older.
