%br/
%h2#siteDescription.center
.content.group
	.hometop.hometopfirst
		%a{:href=>'/category/all-offers/philadelphia/food-and-drink/'}
	.hometop.hometoplast
		%a{:href=>'/category/all-offers/philadelphia/shopping/'}
	.homemiddle.homemiddlefirst
		%a{:href=>'/category/all-offers/philadelphia/lifestyle/'}
	.homemiddle.homemiddlemiddle
		%a{:href=>'/category/all-offers/philadelphia/things-to-do/'}
	.homemiddle.homemiddlelast
		%a{:href=>'/category/all-offers/philadelphia/sports/'}
	.homebottom.homebottomfirst
		%a{:href=>'/category/all-offers/philadelphia/pets/'}
	.homebottom.homebottomlast
		%a{:href=>'/category/all-offers/philadelphia/services/'}
		
= javascript_include_tag 'redesign/random-site-descript'		
		