:css
  .main { padding: 10px; }
  .main p { line-height:1.3em;
    margin:10px 20px;
    }
  .main h1 {
    font-weight:bold;
    font-size:20px;
    margin:30px 20px 10px 20px;
  }
.content.main
  %h1 TERMS OF SERVICE
  %p
    These Terms of Service (these "Terms of Service") set forth the terms and conditions upon which dollarhood, Inc. ("dollarhood") offers third party customers (each, a "Merchant") access to dollarhoods’s proprietary hosted application software service (the “Service”). By clicking “I Agree” or by accessing or otherwise using the Service, you agree to be bound by these Terms. If you do not agree to these Terms of Service, do not access or use the Services.
    %b This is a legally enforceable contract.

  %h1 LICENSE
  %p
    %u Limited License.
    Subject to Merchant’s compliance with the terms and conditions of these Terms of Service, dollarhood hereby grants to Merchant a non-exclusive, non-transferable (except as expressly permitted hereunder) license to access and use the Service solely for the purposes of performing the promotion management, mobile marketing and other related business functions that the Service is designed to perform. Except for the licenses and rights expressly granted under these Terms of Service, no licenses or rights are granted by dollarhood to Merchant hereunder, by implication, estoppel or otherwise. All such other licenses and rights are reserved unto Dollarhood.
  %p
    %u Other License Restrictions.
    Merchant shall not: (i) copy or modify the Service for any purpose; (ii) reverse engineer, decompile, modify, translate, disassemble or discover the source code for all or any portion of the Service; or (iii) distribute, disclose, market, rent, lease or otherwise transfer the Service to any other person.     

  %h1 INTELLECTUAL PROPERTY RIGHTS
  %p
    %u Service.
    dollarhood retains all intellectual property rights in and to the Service and all related documentation interest (including all copyrights, patents, service marks, trademarks and other intellectual property rights), including but not limited to any and all updates, enhancements, customizations, revisions, modifications, future releases and any other changes thereto, and all related information, material and documentation. Except for rights specifically provided in this Agreement, Merchant hereby assigns to dollarhood all other intellectual property rights it may now or hereafter possess in the Service and related documentation, and all derivative works and improvements thereof, and agrees to execute all documents, and take all actions, that may be necessary to confirm such rights. Merchant also agrees to retain all proprietary marks, legends and patent and copyright notices that appear on Service and any related documentation delivered to Merchant by dollarhood and all whole or partial copies thereof.
  %p
    %u Merchant Content.
    “Merchant Content” means any company-specific product or promotional data provided to Dollarhood by Merchant for distribution through the Service. Merchant or its licensors shall own and continue to own all right, title and interest in and to the Merchant Content. Merchant hereby grants to dollarhood a royalty-free license to use the Merchant Content solely in connection with the use thereof through the Service.

  %h1 WARRANTIES AND LIMITATIONS OF LIABILITY.
  %p
    %u Warranty.
    dollarhood warrants that the Service will operate in substantial conformance its published documentation. dollarhood’s sole obligation and Merchant’s sole remedy with respect to any failure of the Service to substantially conform to the documentation therefore is for dollarhood to use commercially reasonable efforts to remedy any such failure as soon as is reasonably practicable, and if such failure is not remedied in a reasonable time, for Merchant to terminate these Terms of Service pursuant to Section 7.2.
  %p
    %u Warranty Disclaimer.
    EXCEPT AS SET FORTH IN SECTION 4.1, Dollarhood DISCLAIMS ANY AND ALL WARRANTIES RELATING TO THE SERVICE OR ANY OTHER MATTER COVERED BY THESE TERMS OF SERVICE, INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. Dollarhood DOES NOT WARRANT THAT THE SERVICE WILL OPERATE WITHOUT INTERRUPTION OR DELAY AND/OR BE ERROR FREE, OR THAT ALL FAILURES OF THE SERVICE TO CONFORM TO THE DOCUMENTATION CAN OR WILL BE CORRECTED. Dollarhood MAKES NO WARRANTIES OR REPRESENTATIONS AS TO THE ACCURACY OF ANY MERCHANT CONTENT PROCESSED BY THE SERVICE.
  %p
    %u Limitations of Liability.
    EXCEPT FOR EITHER PARTY’S INDEMNIFICATION OBLIGATIONS HEREUNDER AND FOR BREACH OF CONFIDENTIALITY, IN NO EVENT SHALL EITHER PARTY BE LIABLE FOR LOST PROFITS OR BUSINESS, LOSS OF GOODWILL, LOSS OF DATA, INTERRUPTION OF BUSINESS, OR FOR ANY EXEMPLARY, PUNITIVE, SPECIAL, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES, REGARDLESS OF WHETHER SUCH DAMAGES ARISE UNDER ANY THEORY OF TORT, CONTRACT, STRICT LIABILITY OR OTHERWISE AND REGARDLESS OF WHETHER SUCH PARTY IS ADVISED OF THE POSSIBILITY OF ANY SUCH DAMAGES. The aggregate liability of dollarhood for any and all claims arising under or in connection with these Terms of Service or its subject matter shall not exceed
  %p
    %u Essential Part of the Bargain.
    The parties acknowledge that the disclaimers and limitations set forth in this Section 4 are an essential element of these Terms of Service between the parties and the parties would not have entered into these Terms of Service without such disclaimers and limitations.

  %h1 INDEMNIFICATION
  %p
    %u Infringement Indemnification by dollarhood.
    dollarhood hereby agrees to indemnify and hold harmless Merchant from and against all damages, settlement amounts, costs and expenses (including reasonable attorney’s fees) that Merchant is required to pay to third parties to the extent such damages, settlement amounts, costs and expenses are attributable to claims that the Service infringes or misappropriates any United States patent, copyright, trademark, trade secret or other United States intellectual property right of a third party, except unless such claims are due to (i) a breach by Merchant of any provision of these Terms of Service; (ii) any Merchant Content distributed through the Service; or (iii) use of the Service in combination with any software, hardware or other equipment not provided by Dollarhood where the infringement or misappropriation would not have occurred but for such combination. This Section 5.1 states the entire obligation of Dollarhood and the exclusive remedy of Merchant with respect to any actual or threatened claim that the Service, or use thereof by Merchant, infringes or misappropriates the patent, copyright, trademark, trade secret or other intellectual property rights of any person.
  %p
    %u Remedies.
    Should the Service become, or in dollarhoods's opinion be likely to become, the subject of a claim for infringement of a United States patent or copyright, dollarhood may (i) procure for Merchant, at no cost to Merchant, the right to continue to use the Service, (ii) replace or modify the Service at no cost to Merchant, to make such Service non-infringing, provided that the replacement or modified Service provides substantially similar function and performance; or (iii) if neither (i) or (ii) are practical, terminate the right to use the Service. This Article 5 states the entire liability of dollarhood with respect to infringement of any intellectual property rights by the Service and dollarhood shall have no additional liability with respect to any alleged or proven infringement.
  %p
    %u Notification of Unauthorized Use.
    Merchant shall promptly notify dollarhood in writing upon its discovery of any unauthorized use or infringement of the Service or the related documentation, or dollarhood's intellectual property rights with respect thereto. dollarhood shall have the sole and exclusive right to bring an infringement action or proceeding against any infringing third party, and, in the event that dollarhood brings such an action or proceeding, Merchant shall cooperate and provide full information and assistance to dollarhood and its counsel in connection with any such action or proceeding.
  %p
    %u Indemnification by Merchant.
    Merchant hereby agrees to indemnify and hold harmless dollarhood from any and all damages, costs and expenses (including, without limitation, reasonable attorneys’ fees) suffered or incurred by dollarhood in connection with any claims that dollarhood is required to pay to third parties to the extent such damages, settlement amounts, costs and expenses are attributable to: (a) claims that the Merchant Content infringes or misappropriates any patent, copyright, trademark, trade secret or other intellectual property right of a third party, or (b) violations of applicable law by Merchant, including but not limited to the laws governing Merchant’s publication of its promotions, such as truth in advertising laws, small games of chance laws, consumer protection laws, the Children’s Online Privacy Protection Act and similar laws, rules or regulations.

  %h1 CONFIDENTIALITY
  %p
    %u Confidential Information.
    In connection with these Terms of Service, each of dollarhood and Merchant (in such capacity, the “Recipient”) have received, developed or been given access to, and shall in the future receive, develop or be given access to, certain information and materials deemed confidential and/or proprietary by the other party hereto (in such capacity, the “Disclosing Party”), including, without limitation, trade secrets, know-how, technical data and/or other information and materials pertaining to (i) these Terms of Service and its terms and conditions; (ii) the Service; (iii) other computer programs or computer systems of the Disclosing Party; or (iv) the Disclosing Party’s products, services, employees, operating methods, sources of supply, potential sources of supply, distribution methods, sales, sales plans, sales methods, profits, markets, financing or plans for future development (collectively, “Confidential Information”).  
  %p
    %u Exclusions.
    Confidential Information shall not include any information or materials which: (i) prior to disclosure, are or were known or generally available to the public; (ii) after disclosure, become known to the public through no act or omission of the Recipient or any other Person with an obligation of confidentiality to the Disclosing Party; (iii) are or were independently developed by or for the Recipient, as evidenced by written records of the Recipient; (iv) are required to be disclosed pursuant to an applicable law, rule, regulation, government requirement or court order, or the rules of any stock exchange (provided, however, that the Recipient shall advise the Disclosing Party of such required disclosure promptly upon learning thereof in order to afford the Disclosing Party a reasonable opportunity to contest, limit and/or assist the Recipient in crafting such disclosure); (v) as agreed to in writing by the parties hereto; or (vi) were submitted by Merchant for distribution through the Service.
  %p
    %u Protection of Confidential Information.
    The Recipient shall take reasonable steps to prevent the Disclosing Party’s Confidential Information from being disclosed to any other person. Notwithstanding the foregoing, the Recipient may disclose such Confidential Information to those directors, officers, employees, agents, consultants and subcontractors (each, a “Representative,” and collectively, “Representatives”) of the Recipient who have a need to know such information in connection with performance under these Terms of Service; provided that each Representative, prior to such disclosure, is informed by the Recipient of the confidential nature of such information and of the confidentiality obligations imposed on the Recipient under these Terms of Service. The Recipient shall be responsible for any and all breaches of these confidentiality provisions by its Representatives. As used herein, “reasonable steps” means the steps that the Recipient takes to protect its own, similarly confidential and/or proprietary information, which steps shall not be less than a reasonable standard of care.
  %p
    %u Restricted Use of Confidential Information.
    The Recipient and its Representatives shall use the Disclosing Party’s Confidential Information solely in connection with performance under these Terms of Service, and for no other purpose.
  %p
    %u Return and Destruction of Confidential Information.
    Upon termination of these Terms of Service, or at any other time upon the written request of the Disclosing Party, all tangible Confidential Information of the Disclosing Party (including, without limitation, all copies, synopses and summaries thereof, regardless of the form in which such information is stored), but excluding any Confidential Information prepared by or for the Recipient pursuant to these Terms of Service, shall be, at the Recipient’s option, promptly returned to the Disclosing Party or destroyed. The Recipient shall certify in writing to the Disclosing Party, within 30 days following termination of these Terms of Service or the Recipient’s receipt of a written request for return or destruction of Confidential Information, that all such Confidential Information has been returned to the Disclosing Party or destroyed.

  %h1 TERM AND TERMINATION
  %p
    %u Term.
    Merchant’s access to the Services shall begin on the date Merchant registers for such access and shall continue in force for an initial term of 1 year thereafter unless terminated earlier under the provisions of this Article 7. Upon the expiration of this initial term, these Terms of Service shall be automatically renewed for consecutive additional 1 year terms ("Renewal Terms" and together with the initial term, the "Term") unless either Party sends the other Party at least 30 days prior written notice stating that it is terminating these Terms of Service at the end of the then current Term.
  %p
    %u Termination for Cause.
    In the event of any material breach of these Terms of Service, the non-breaching party may terminate this Agreement by giving 30 days' prior written notice to the other party; provided, however, that this Agreement shall not terminate if the other party has cured the breach prior to the expiration of such 30 day period, or if such breach cannot be cured within such 30 day period, the other party has taken steps within such 30 day period to cure the breach and thereafter cured such breach as soon as practicable.
  %p
    %u Termination for Insolvency.
    Either party may terminate this Agreement immediately, (a) upon the institution by or against the other party of insolvency, receivership or bankruptcy proceedings (and if such proceeding is instituted against it, such proceeding is not dismissed within sixty (60) days), (b) upon the other party's making an assignment for the benefit of creditors, or (c) upon the other party's dissolution or ceasing to do business.
  %p
    %u Effect of Termination.
    Upon the expiration or sooner termination of these Terms of Service, all license rights of Merchant under these Terms of Service shall automatically and immediately cease and Merchant shall promptly cease all uses of the Service. Sections 3, 4.2, 4.3, 4.4, 4.5, 5, 6, 7.4, and 8 shall survive the expiration or sooner termination of these Terms of Service.

  %h1 GENERAL
  %p
    %u Economic Sanctions; Export Compliance.
    The Service may be subject to U.S. and other national export controls and economic sanctions. Individuals or entities owned or controlled, registered in, or related to Cuba, Iran, Sudan, Syria, or North Korea are not permitted to access the Service without prior written permission from dollarhood once granted by the appropriate jurisdiction. The rights and obligations of Merchant shall be subject to such United States laws and regulations as shall from time to time govern the license and delivery of technology abroad by persons subject to the jurisdiction of the United States, including the Export Administration Act of 1979, as amended, any successor legislation to the Export Administration Act of 1979, and the Export Administration regulations issued by the Department of Commerce, International Trade Administration, Office of Export Administration. Merchant each shall certify that it shall not, directly or indirectly, export, re-export or transship the Service in such manner as to violate such laws and regulations in effect from time to time. Merchant shall indemnify and hold harmless dollarhood from and against any and all losses, claims and expenses incurred by dollarhood as a result of the breach of Merchant's obligations under this Section.
  %p
    %u Independent Contractors.
    In making and performing these Terms of Service, the parties are acting and shall act as independent contractors. Neither party is, nor will be deemed to be, an agent, legal representative, joint venture or partner of the other party for any purpose.
  %p
    %u Force Majeure.
    In the event that Dollarhood is unable to perform its obligations under these Terms of Service because of acts of God, strikes, equipment or transmission failure, unavailability or poor performance of the Internet, or other causes reasonably beyond its control, Dollarhood shall not be liable to the Merchant for any damages resulting from such failure to perform or otherwise from such causes.
  %p
    %u Governing Law.
    These Terms of Service and its subject matter shall be governed in accordance with the law of the State of New York, without reference to its conflict of laws principles.
  %p
    %u Public Statements.
    Either party may disclose the existence of these Terms of Service but may not represent to any third party any positions, statements, intentions or other actions on behalf of the other.
  %p
    %u Assignment.
    Merchant may not assign any of its rights or privileges, or delegate any of its duties or obligations hereunder to any third party without the prior written consent of dollarhood. Any purported assignment in contravention of this Section shall be null and void. Subject to the foregoing, these Terms of Service shall be binding upon and inure to the benefit of the parties hereto and their respective permitted successors and assigns
  %p
    %u Notices.
    All notices and other communications hereunder shall be in writing and shall be deemed effective when delivered by hand, facsimile transmission, reputable overnight delivery service, or certified mail (return receipt requested), postage prepaid to: (a) in the case of dollarhood, to the address set forth on the dollarhood website to the attention of the President, with a copy sent simultaneously to the attention of [●]; and (b) in the case of Merchant, to the address set forth in its account information.
  %p
    %u Entire Agreement; Amendment.
    These Terms of Service constitute the entire agreement between the parties concerning the subject matter hereof and supersedes all prior understandings and agreements between the parties, whether written or oral, regarding the subject matter hereof. These Terms of Service may not be amended, supplemented or otherwise modified except by an instrument in writing signed by both parties and attached hereto.
  %p
    %u Waivers.
    A waiver by either party of a breach or violation of any provision of these Terms of Service will not constitute or be construed as a waiver of any subsequent breach or violation of that provision or as a waiver of any breach or violation of any other provision of these Terms of Service.
