.marketing_privacy
  %h1 Refund/Transfer Policy

  %p If for some reason you are not able to use your dollarhood pass prior to the expiration date, the paid value of the dollarhood pass ($0.99) will never expire. The merchant will always accept the $0.99 that you paid to be applied to your next purchase. Just present your dollarhood pass via a printed copy or on your smartphone to the business. If you have any issues redeeming your dollarhood pass, please contact us at customer@dollarhood.com and we will rectify the situation.
  %p dollarhood passes are not redeemable for cash, and only redeemable by the business listed on the dollarhood pass. dollarhood passes are transferrable.
  
  %h1 Privacy Policy
  %p{:style=>"margin-top:30px"} This privacy policy describes the types of personal and non personal information we collect when you use the website and service, how we use such information and to whom and under what circumstances we may disclose it. By visiting the website and using our service, you agree to terms of this privacy policy. If you do not agree to these terms, please do not furnish any information via this website or use our service.

  %h1 Information Collection
  %p
    %strong Personal Information.
    You can visit our web site and access certain portions without entering any personal information. However, in order to access certain other information, services or features, we may require you to register and to provide personal information such as your email address, zip code, mobile phone number or other similar information that can be used to identify you ("Personal Information"). We only collect Personal Information that you provide directly to us.
  %p
    %strong Non-Personal Information.
    As part of the standard operation of our service, we may also collect certain non-personal information from you. For example, when you use the service, information may be recorded about your use of dollarhood.com. This may include the choice of advertisers whose promotions you elect to receive, dates and times you were sent a message and information about your use of our advertisers' promotions. We may also collect certain non-personally identifiable information about you (such as your gender, age and Internet Protocol address) and information about your interests and preferences. We may combine this non-personal information with your Personal Information.
  %p
    %strong COOKIES.
    Cookies are small files that web sites save to your hard disk or to your browser's memory. We may use them to track the number of times you have visited the Website, to track the number of visitors to the web site, to determine and analyze visitor's use of the web site (including the effectiveness of online advertising), to store information that you provide such as your preferences, and to store technical information useful for your interactions with the web site. We may use session cookies (cookies that are deleted when your browser session ends) and persistent cookies to facilitate your movement around the web site (particularly in connection with information searches) and to store other information useful in administering the session. You have the ability to accept or decline cookies. Most Internet browsers automatically accept cookies, but you can usually modify your browser settings to decline cookies or to notify you when a cookie is being placed on your computer. If you choose to decline cookies, you may not be able to fully experience the features of the web site or our service.
  %h1 Aggregate information
  %p From time to time, we may collect and share with others general, non-personal, statistical information about the use of the web site and our service, such as how many use our service or elect to receive promotional messages from a particular advertiser, how many visitors visit a specific page on the web site, how long they stay on that page, and which hyperlinks, if any, they click on. We collect this information through the use of technologies such as cookies, which are discussed in greater detail in the Information Collection section above. We collect this information in order to determine which advertisers and areas of the web site are most popular and to enhance the web site for visitors. We may also group this information into aggregate visitor data in order to describe the use of the web site and service to our existing or potential business partners, clients or other third parties, or in response to a government request. However, please be assured that this aggregate data will in no way personally identify you.

  %h1 Disclosure of Your Personal Information
  %p With the limited exceptions below, we will NOT share personally identifiable information with any company or third party. We use birth-year, gender and zip code in an aggregate fashion that does not disclose your identity. Once you OPT OUT from receiving promotional messages from an advertiser, we will no longer include your information with the aggregate data that an advertiser sees. We will use your cell phone carrier to send you the SMS messages. We do not disclose your cell phone number, carrier, e-mail address or other Personal Information to the retailers utilizing our service.

  %h1 Disclosure to Service Providers and Others
  %p We contract with other companies to provide services on YOUR behalf, e.g. sending out information. We provide these companies with only those elements of your Personal Information we think they reasonably need to deliver those services. These companies and their employees are prohibited by written agreements with us from using that Personal Information for any other purpose. We may disclose collected information, including Personal Information, in connection with a merger or other corporate transaction or if required to do so by law or in the good-faith belief that such action is necessary to comply with legal requirements or with legal process served on us, to protect and defend our rights or property, or in urgent circumstances to protect the personal safety of any individual.

  %h1 Information Security
  %p We have taken certain physical, electronic, contractual and managerial steps to safeguard the information we collect from our users and store on our servers.

  %h1 Changes
  %p If we change this privacy policy, we will post those changes here and revise the date above accordingly.

  %h1 Mobile Device Identification Process
  %p We will utilize an authentication process to verify the cell phone number provided to us during registration. We will send a text message to that number during the sign up process. Once you receive the authentication code you will be instructed to enter the code into a field on the web site which will complete the authentication process. We will not reverse bill. Your carrier's text messaging rates will apply.

  %h1 Information Use
  %p We may use your Personal Information for business purposes related to the web site and our service, including: (1) to provide products and services to you, including the display of personalized content; (2) to provide you with information regarding new participating merchants and other products and services that we think might interest you; (3) to help address problems with and the functioning of the service; (4) to monitor and conduct internal reviews of the service; (5) to help us better understand and improve the use of the service, and develop new services; (6) to protect the integrity of the service; (7) to contact you, if necessary or at your request; and (8) to send updates regarding changes to the web site or service (e.g. adding or removing a merchant). In order to offer you a more consistent experience, information collected via the web site may be combined with information we collect by other means. We may also use your Personal Information to improve the web site, or to make the web site easier to use by eliminating the need for you to repeatedly enter the same information or by customizing the web site to your particular location, preference or interests. If you have chosen to receive communications by text messaging from us but later wish to opt out of receiving such communications from us at any time, simply follow the instructions for doing so included in the web site or in communications from us. We reserve the right to send you certain communications relating to the web site, such as service announcements or similar administrative or transactional messages, without offering you the opportunity to opt-out from receiving them.

  %h1 Communications with Us
  %p When you send email or other communications to us, we may retain those communications in order to process your inquiries, respond to your requests and improve our services.

  %h1 Collection and Storage of Information in the U.S.A.
  %p We collect, store and process the information we collect in the United States of America. By visiting our Website, providing information to us, and using our service, you consent to our collection in, transfer to, and use and processing of such information in the U.S.A.

  %h1 Third Party Sites and Services
  %p This Privacy Policy only applies to information we collect through our web site and your use of our service. Our participating merchants and other third parties have their own policies and practices, so be sure to familiarize yourself with those before visiting those companies' web sites, providing them with information, or using their products or services.

  %h1 Updating Your Information
  %p If you have registered for an account on the web site, you may view and update and cancel your account information at any time. To cancel the account yourself, please remove all your selections to make sure you don't get promotions and send an email to customer@dollarhood.com. Please note that after we delete your Personal Information, there may be residual information that remains within one of our databases that may or may not contain such Personal Information, such as information that may be retained in back-up servers or records we may retain for a period of time to comply with legal requirements or with legal process served on us, to protect and defend our rights or property, or in urgent circumstances to protect the personal safety of any individual. We will not authorize any third party to access or use this residual information for any commercial purpose.

  %h1 Children's Information
  %p Our web site and service is not intended for use by children under 13. We do not knowingly collect Personal Information from anyone under 13 years of age, except for the limited circumstances described below. If a child under the age of 13 submits a question to us on the web site or via email and identifies his or her age, we will only ask for his or her first name and email address, together with the name and email address of a parent or legal guardian. We will use such information for the sole purpose of responding to the child's question on a one-time-only basis and will copy the parent or guardian on all correspondence. We will not re-contact the child and we will delete all relevant from our records once we have responded. If we become aware that we have unknowingly collected Personal Information from a child under the age of 13, we will delete such information from our database. If parents or guardians become aware that their children under 13 have provided us with personally identifiable information without their consent (or that we have otherwise collected or obtained such information), they should contact us at support@dollarhood.com. We recommend that minors between the ages of 13 and 18 ask their parents for permission before providing any information about themselves to us or to anyone over the Internet.

  %h1 California Residents
  %p California law permits California residents to request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please send an email to customer@dollarhood.com. California residents who have an established business relationship with us may also choose to opt-out of our disclosing personal information about them to third parties. If you do not want us to share your personal information with such third parties, please send us an email to customer@dollarhood.com with your name, address and phone number. Your opt-out request will be processed within 30 days of the date it was received.
:css
  .marketing_privacy h1
  {
    padding:30px 0 5px 30px;
    line-height:1.0;
    margin:0;
  }
  .marketing_privacy p
  {
    padding:20px 0 0 0;
    margin:0 0 10px 35px;
    width:800px;
  }
