.marketing
  %h1 Terms of Use

  %p

    %strong Terms
    %br
    You, the consumer, have complete control over the companies you receive text messages from through OPTING IN or OPTING OUT via your dollarhood.com account at any time. Your mobile provider's standard text messaging rates will apply, and dollarhood.com will not reverse bill or charge you any additional fees for receiving text messages. It is understood that dollarhood.com may not have relationships with each and every store listed, but that certain retailers have asked us to gauge interest in the hooditt service before they determine whether and how they will participate, and that we are also collecting users' choices as part of our own product and market research.
:css
  .marketing h1
  {
    padding:50px 0 5px 30px;
    line-height:1.0;
    margin:0;
  }
  .marketing p
  {
    padding:20px 0 0 0;
    margin:0 0 30px 35px;
    width:600px;
  }
