.testimonials-header 
  %h1 Our Testimonials

.testimonials-container
  %ul
    %li.testimonial
      For someone like myself who is not tech savvy and really busy, chinoki was the easiest marketing tool we've ever used, I could create and send a campaign to a customer that asked to hear from me in less then 30 seconds
      %p.subtitle
        Dinardo's Famous Seafood, Kathy - Owner 


