// Place all the styles related to the admin/consumers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#registered-consumers-chart, 
#consumer-categories {
  width: 400px;
  height: 300px;
}

#consumer-categories {
  width: 550px;
}

