.clear
%br
.left_block_items_consumer_view
  = link_to_with_state "Profile", edit_consumer_path, :class => 'item_consumer_view'
  = link_to_with_state "Info", "/customer/#{current_consumer.id}/edit", :class => 'item_consumer_view'
  = link_to "Logout", destroy_consumer_session_path, :class => 'item_consumer_view', :method => :delete
