:css
  .inline.delBtn form div input {
    border: 0;
    background: transparent;
    color: #777;
    text-decoration: underline;
  }

= link_to "edit", polymorphic_path(campaign, :action => :edit)
\|
.inline.delBtn= button_to "delete", polymorphic_path(campaign), :method => :delete, :confirm => "Are you sure you want to delete this campaign?"
%div(style="line-height: 10px; font-size: 10px;")
  Last saved
  = distance_of_time_in_words_to_now campaign.updated_at
  ago