= render partial: 'popups/success' if flash.key?(:success)
%br
%br
%br
%br
%br
%br

:css
  table tr td { word-wrap: break-all; }

- if @scheduled_campaigns.size > 0
  %h2 Offers Scheduled
  %table#campaigns.table.table-striped
    %thead
      %tr
        %th Offer Title
        %th Delivery Date
        %th(style="width: 160px")
    %tbody
      - @scheduled_campaigns.each do |c|
        = render partial: 'campaign', locals: {campaign: c}



- if @delivered_campaigns.size > 0
  %h2 Offers Delivered
  %table#campaigns.table.table-striped
    %thead
      %tr
        %th Offer Title
        %th Delivery Date
        %th(style="width: 160px")
    %tbody
      - @delivered_campaigns.each do |c|
        = render partial: 'campaign', locals: {campaign: c}

- if @delivered_campaigns.size == 0 and @scheduled_campaigns.size == 0
  %hr
    %h4 You have not created any campaigns yet.
    %p= link_to "Add one now", new_campaign_path