html, body {
  background:#e8e8e8;
  padding:0; margin:0;
}
#content {
  margin:0 auto;
  padding-top:35px;
  width:600px;
  background:#fff;
  p.header {
    text-align:center;
  }
}
h1.holder {
  padding:10px 30px;
}
p.holder {
  padding:10px 30px;
}
