.testimonials-header h1 {
  color: red;
  font-size: 24px;
  margin-bottom: 15px;
  padding-left: 60px;
  padding-top: 10px;
  background: url(/logo.png) no-repeat;
  height: 48px;
}

.testimonial {
    border-bottom: 1px solid red;
    color: grey;
}

.subtitle {
    color: black;
    font-weight: bold;
    margin: 20px 0;
}

.testimonials-container {
  width:100%;

  
}
