/ AddThis Button BEGIN
    %a{:href => "http://api.addthis.com/oexchange/0.8/forward/facebook/offer?pco=tbx32nj-1.0&url=#{ CGI::escape(view_coupon_url(show_offer.item.code))}&pubid=ra-518ce20529de4a15", :target => "_blank"}
      %img{:alt => "Facebook", :border => "0", :src => "http://cache.addthiscdn.com/icons/v1/thumbs/32x32/facebook.png"}/
    %a{:href => "http://api.addthis.com/oexchange/0.8/forward/twitter/offer?pco=tbx32nj-1.0&url=#{ CGI::escape(view_coupon_url(show_offeritem.code))}&pubid=ra-518ce20529de4a15", :target => "_blank"}
      %img{:alt => "Twitter", :border => "0", :src => "http://cache.addthiscdn.com/icons/v1/thumbs/32x32/twitter.png"}/
    %a{:href => "http://www.addthis.com/bookmark.php?source=tbx32nj-1.0&=300&pubid=ra-518ce20529de4a15&url=#{ CGI::escape(view_coupon_url(@item.item.code))}", :target => "_blank"}
      %img{:alt => "More...", :border => "0", :src => "http://cache.addthiscdn.com/icons/v1/thumbs/32x32/more.png"}/
    / AddThis Button END