= stylesheet_link_tag "popup"
= javascript_include_tag "popup/popup_launch"
.feedBack-box
  .feedBack-overlay
  .feedBack-popup
    .feedBack-thumbnail
      = image_tag "dh.png", :alt => "dh"
    .text-center
      %h2 Now let's make some money!
      %span.highlight{ :onClick => "javascript:window.open('#{root_url}campaigns/new','_self');", :style => "cursor: pointer;" } Post an offer, or two!
      %br
      %a{ :href => "#", :onClick => 'getFeedBackBox()' } Skip