#revenue-filter {
	p {
		margin-bottom: 10px;
	}
	fieldset {
		padding-top: 0;
		margin-bottom: 10px;
	}
	.calendar-select {
		p {
			margin-bottom: 3px;
		}
	}
	.indent {
		padding-left: 15px;
	}
}

#title_bar {
	.breadcrumb {
		display: none;
	}
}