.companies
  .location.company_item
    .location__name.company_item__locations_title
      = @location.name
    .location__streams
      - if @location.streams.any?
        = render partial: "streams/location_stream", collection: @location.streams, as: :item
      - else
        %span У этого места нет доступных трансляций
