.location
  .location__name
    = @location.name
  .location__streams
    - if @location.streams.any?
      = render partial: "streams/location_stream", collection: @location.streams, as: :item
    - else
      %span Place don't have stream.