%tr
  %td{style: "padding:20px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"} Did you forget your dollarhood password? It happens.
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"} Click the link below to and get a new one:
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"}
      %a{href: edit_password_url(@resource, :reset_password_token => @token), style: "color:#62a343;"} Change my password
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"}
      If you didn't ask to reset your password, please contact customer support at
      %a{href: "mailto:partner@dollarhood.com", style: "color:#62a343;"} partner@dollarhood.com
