%html.no-js{:lang => "en"}
  / <![endif]
  %head
    = stylesheet_link_tag "hooditt_mailer"
  %body
    #content
      %p.header{:style => 'text-align: center'}
        = image_tag attachments['left.jpg'].url
      = yield
